.profile-container{
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50%;
    font-size: 1.25rem;
}
.profile-left {
    text-align: left;
    margin: 0px 20px;
    border-right: 20px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #743ad5, #d53a9d);
    
}
.profile-left > h2, h3, p, a {
    text-decoration: none;
    padding: 5px;
}
.profile-left > button {
    width: 10vw;
    height: 7vh;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 1rem;
}
.profile-left > button:hover {
    color: blanchedalmond;
}
.profile-center{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.5rem;
}
.profile-picture > img{
    width: 80%;
    height: 80%;
    margin: 10px;
}
.profile-socialNetworks{
    color: black;
    cursor: pointer;
    width: 80%;
    font-size: 3rem;    
    display: flex;
    justify-content: space-evenly;
    margin: auto 100px;
    margin-top: 60px;
}
@media screen and (max-width: 1000px) {
    .profile-container{
        color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 55%;
    }
    .profile-picture > img{
        margin: 50px 50%;
        width: 100%;
    }
    .profile-left{
        border: none;
    }
}
@media screen and (max-width: 600px) {
    .profile-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin: auto auto;
        text-align: center;
    }
    
    .profile-left {
        border-right: none;
        margin: 0;
    }
    .profile-left button {
        margin: 50px 0;
        width: 100px;
    }
    .profile-center {
        margin: 0;
        margin-bottom: 40px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .profile-picture > img{
        margin: 0;
        width: 100%;
    }
    .profile-socialNetworks{
        margin: 40px auto;
    }
}

