.portfolio-container{
    height: 90vh;

    .portfolio-firstRow{
        color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 25px;

    
        .education{
            display: grid;
            grid-template-columns: 100px 200px 1fr;
            margin-top: 10px;
            padding-left: 20px;
            font-size: 1.3rem;
        }

        .portfolio-images{
            font-size: 1.9rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            margin: auto 100px ;
        }
}

    .header{
        margin-left: 10px;
        margin-bottom: 25px;
        font-size: 1.7rem;
        padding: 10px;
        border-bottom: 10px solid;
        border-image-slice: 1;
        border-width: 3px;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    }

    .portfolio-projects{
        color: black;
        height: 200px;
        
        .portfolio-project{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: min-content;
            margin: 50px 200px;
        }

        a {
            border: 1px solid black;
            width: 250px;
            height: 250px;
            margin-bottom: 100px;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            
            &:hover{
                opacity: 0.5;
            }

            img {
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media only screen and (max-width: 900px){
    .portfolio-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto 30px;
        font-size: 1.3rem;


        .portfolio-firstRow{
            display: flex;
            flex-direction: column;
        }
    
    .portfolio-images{
        text-align: center;
        font-size: 1.2rem;
    }
    .portfolio-projects{
        .portfolio-project{
       display: inline-block;
       
    
        }
    }
    }
}
